.flex {
    display: flex;
    align-items: center;
}
body {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: rgb(50, 50, 50);
    align-content: center;  
}

h2 {
    color: rgb(209, 186, 84);
    font-family: 'Darker Grotesque', sans-serif;
    margin-block-end: 0em;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
}
p, h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    display: swap;

}
.item-button {
	margin: 5px;
	text-align: center;
    font-size: 2em;
    font-weight: 600;
}
a:link, a:visited {
    text-decoration: none;
    color: rgb(50, 50, 50);
}
a:active {
    text-decoration: none;
    color: whitesmoke;
}

.container {
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
    background-color: lightskyblue;
    justify-content: space-around;
}
.Intro {
    background-image: url(./images/image\ \(3\).png);
    background-position: center;
    background-size: cover;
    height: 500px;
    color: white;
    flex-direction: column;

}
.Titulo {
    font-weight: 800;
    font-size: 50px;
    height: 135px;
    padding-top: 30px;
    margin: 40px;
}
.linha {
    width: 120px;
    height: 5px;
    background-color: white;
}
.Sub {
    width: 700px;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
}

.Sobre {
    background-color: rgb(52, 91, 141);
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.texto {
    font-size: 24px;
    width: 1100px;
}

.Valores {
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.item2 {
    width: 200px;
    margin: 10px;
    line-height: 25px;
    flex-direction: column;
}
.i1 {
    width: 150px;
    height: 150px;
    background-image: url(./images/protecao.svg); 
}
.i2 {
    width: 150px;
    height: 150px;
    background-image: url(./images/carinho.svg); 
}
.i3 {
    width: 150px;
    height: 150px;
    background-image: url(./images/companheirismo.svg); 
}
.i4 {
    width: 150px;
    height: 150px;
    background-image: url(./images/resgate.svg); 
}
.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    border-radius: 100px;
    background-color: white;
}
.Lobos {
    background-color: white;
    padding-bottom: 50px;
    flex-direction: column;
    align-content: center;
    display: flex;
}
.item3 {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
}
.foto {
    width: 400px;
    margin: 50px;
}
.esquerda {
    box-shadow: -30px -30px rgb(52, 91, 141);
}
.direita {
    box-shadow: 30px -30px rgb(52, 91, 141);
}
.idade {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 30px;
}
.info {
    width: 500px;
    line-height: 20px;
    font-size: 25px;
    font-weight: 500;
}
.reverse {
    flex-direction: row-reverse;
    text-align: end;
}
.degrade {
    height: 5px;
    width: 100%;
    background-image:linear-gradient(to right, rgb(209, 186, 84), rgb(52, 91, 141));
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.mapa {
    width: 400px;
    height: 300px;
    background-image: url(./images/maps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    margin-right: 0px;
    
}
.contatos {
    width: 400px;
    height: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ender {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
.telef {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
.icon1 {
    width: 30px;
    height: 30px;
    background-image: url(./images/local.png);
    background-position: center;
    margin-right: 20px;
}
.icon2 {
    width: 30px;
    height: 30px;
    background-image: url(./images/phone.png);
    background-position: center;
    margin-right: 10px;
}
.icon3 {
    width: 30px;
    height: 30px;
    background-image: url(./images/mail.png);
    background-position: center;
    background-color:  rgb(53, 53, 53);
    margin-right: 10px;
}
.button {
	margin: 2px;
	text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    background-color: rgb(209, 186, 84);
    padding: 5px;
}

.creditos {
    text-align: center;
}
